{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Movie</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the movie">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the movie"></textarea>

					<label for="director">Director:</label>
					<input type ="text" maxlength="50" class="form-control" name="director"placeholder="Director of the movie">

					<label for="starring">Starring:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="starring" placeholder="Starring of the movie"></textarea>
 
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					<a href = '{{url_for('showMovie', genre_id=genre_id)}}'>
						<button type="button" class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
			
		</div>
	</div>
{% endblock %}
